<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MultiTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MultiTimer.Properties.Settings>
            <setting name="Spalten" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Anzahl" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Tfarbe1" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="Tfarbe2" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="Tfarbe3" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="Tfarbe4" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="Tfarbe5" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="Tfarbe6" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="Tfarbe7" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="Tfarbe8" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="Hintergrund" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="Pos_main_x" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Pos_main_y" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Pos_conf_x" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Pos_conf_y" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="First" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tname1" serializeAs="String">
                <value>Timer1</value>
            </setting>
            <setting name="Tname2" serializeAs="String">
                <value>Timer2</value>
            </setting>
            <setting name="Tname3" serializeAs="String">
                <value>Timer3</value>
            </setting>
            <setting name="Tname4" serializeAs="String">
                <value>Timer4</value>
            </setting>
            <setting name="Tname5" serializeAs="String">
                <value>Timer5</value>
            </setting>
            <setting name="Tname6" serializeAs="String">
                <value>Timer6</value>
            </setting>
            <setting name="Tname7" serializeAs="String">
                <value>Timer7</value>
            </setting>
            <setting name="Tname8" serializeAs="String">
                <value>Timer8</value>
            </setting>
        </MultiTimer.Properties.Settings>
    </userSettings>
</configuration>